* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #2b2b2b;
  padding: 96px 260px;
  gap: 10px;
  align-items: center;
  height: 100vh;

  .container {
    border-radius: 8px;
    padding: 30px;
    gap: 30px;
    background-color: white;

    & h1 {
      display: flex;
      font-weight: 400;
      font-size: 36px;
    }

    & form {
      & .cadastro {
        & input {
          gap: 6px;
          width: 400px;
          height: 66px;
        }

        & .sobrenome {
        & input {
            
        }
        }
      }
    }
  }
}
